@charset "utf-8";

:root {
	/* 甜膩瑪瑙 */
	--ColorType0101: #FFD954;--ColorType0102: #E4B660;--ColorType0103: #F2AB39;--ColorType0104: #69491A;
	/* 憂鬱植物藍 */
	--ColorType0201: #D1DDDB;--ColorType0202: #85B8CB;--ColorType0203: #1D6A96;--ColorType0204: #283B42;
	/* 瑰麗紅 */
	--ColorType0301: #FFC2C3;--ColorType0302: #FE7773;--ColorType0303: #E81E25;--ColorType0304: #0E0301;
	/* 冰凍石 */
	--ColorType0401: #A6C2CE;--ColorType0402: #9C8F96;--ColorType0403: #EBC57C;--ColorType0404: #6B799E;
	/* 北極光 */
	--ColorType0501: #91D4C2;--ColorType0502: #45BB89;--ColorType0503: #3D82AB;--ColorType0504: #003853;
	/* 迷幻霧景 */
	--ColorType0601: #FDDCEF;--ColorType0602: #D5C5E9;--ColorType0603: #3A5A69;--ColorType0604: #030923;
	/* 電光紫 */
	--ColorType0701: #D3B7D8;--ColorType0702: #A13E97;--ColorType0703: #632A7E;--ColorType0704: #280E3B;
	/* 軟木塞 */
	--ColorType0801: #B98D72;--ColorType0802: #AE4951;--ColorType0803: #57233A;--ColorType0804: #161B1F;
	/* 多角萬花筒 */
	--ColorType0901: #E4DACE;--ColorType0902: #E5BB4B;--ColorType0903: #498EAF;--ColorType0904: #631F16;
	/* 天然亞麻 */
	--ColorType1001: #6C838B;--ColorType1002: #BB7748;--ColorType1003: #9E6D70;--ColorType1004: #7F726A;
	/* 惹人注目的金剛鸚鵡 */
	--ColorType1101: #FFDD00;--ColorType1102: #F15A22;--ColorType1103: #5FAD46;--ColorType1104: #478FCD;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--ColorType0502);
    /* background: linear-gradient(to bottom, var(--ColorType0101), var(--ColorType0102), var(--ColorType0103), var(--ColorType0104)); */
    text-align: center;
}

.wrapper {
    width: 1024px;
    background-color: var(--ColorType0103);
    border-radius: 15px;
    margin: 20px auto;
    text-align: center;
}

.banner {
    width: 1024px;
}

.content {
    width: 1024px;
    background-color: var(--ColorType0102);
    border: 5px solid var(--ColorType0104);
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.content_in {
    margin: 10px 0px;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}
nav {
    text-align: center;
    background-color: var(--ColorType0103);
}
nav ul{
    color: var(--ColorType0101);
    list-style: none;
}
nav ul li {
    background-color: var(--ColorType0104);
    margin: 15px auto;
}
nav ul li a {
    color: var(--ColorType0101);
    text-decoration: none;
    font-weight: bolder;
    font-family: "標楷體";
}

footer {
    width: 1024px;
    /* height: 200px; */
    background-color: var(--ColorType0303);
    border: 5px solid var(--ColorType0302);
    border-radius: 20px;
    box-sizing: border-box;
    color: var(--ColorType0304);
    text-align: center;
    margin: 10px auto;
    font-weight: bolder;
    font-family: "微軟正黑體";
    padding: 2px;
}

footer:hover {
    background-color: var(--ColorType0304);
    color: var(--ColorType0303);
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 100%;
    }

    .banner {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}